#API

API_TOKEN=API_TOKEN #Github > Settings > Developer Settings > Personal access tokens > Tokens (Classic) > Generate new token (classic) > Name token, permission and generate
BASE_URL_API_GITHUB=https://api.github.com