#HDOLIMPO

HDOLIMPO_USERNAME=INSERT_HERE_HDOLIMPO_USERNAME
HDOLIMPO_PASSWORD=INSERT_HERE_HDOLIMPO_PASSWORD
BASE_URL_HDOLIMPO=https://hd-olimpo.club/login
URL_HDOLIMPO_STORE=https://hd-olimpo.club/bonus/store

#TORRENTLAND

TORRENTLAND_USERNAME=INSERT_HERE_TORRENTLAND_USERNAME
TORRENTLAND_PASSWORD=INSERT_HERE_TORRENTLAND_PASSWORD
BASE_URL_TORRENTLAND=https://torrentland.li/login
URL_TORRENTLAND_STORE=https://torrentland.li/users/"CHANGE_NAME_USER"/bonus/transactions/create

#YTMONSTER

YTMONSTER_USERNAME=INSERT_HERE_YTMONSTER_USERNAME
YTMONSTER_PASSWORD=INSERT_HERE_YTMONSTER_PASSWORD
BASE_URL_YTMONSTER=https://www.ytmonster.net/login

#TORRENTLEECH

TORRENTLEECH_USERNAME=INSERT_HERE_TORRENTLEECH_USERNAME
TORRENTLEECH_PASSWORD=INSERT_HERE_TORRENTLEECH_PASSWORD
BASE_URL_TORRENTLEECH=https://www.torrentleech.org/
URL_TORRENTLEECH_STORE=https://www.torrentleech.org/profile/INSERT_HERE_TORRENTLEECH_USERNAME/marketplace

#API

API_TOKEN=API_TOKEN #Github > Settings > Developer Settings > Personal access tokens > Tokens (Classic) > Generate new token (classic) > Name token, permission and generate
BASE_URL_API_GITHUB=https://api.github.com